@charset "utf-8";
/* CSS Document */
.project-title {
	margin-top:10%;
	text-align:center;
	font-family: 'arial';
	font-size: 50px;
	font-weight:bold;
	color: #606060;
}
.project-title p {
	font-size:30px;
}

.text-container {
	max-width:600px;
	width: 75%;
	font-family: 'arial';
	margin: 3em auto;
	text-align:justify;
	font-size: 16px;
	line-height: 1.5em;
}

.graphics-container {
	max-width: 960px;
	width: 80%;
	margin: 0 auto;
	

}

/* generic stuff */
 .tooltip {
	position: absolute;
	font-size: 16px;
	width:  auto;
	height: auto;
	pointer-events: none;
	background-color: white;
	padding: 5px;
}





/* knn */
.knn-container {
	height:500;
	width:90%;
}

.KNNO { font-size: 62.5%; } 

.KNNO-container {
		font-size: 1rem;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		fill: #8C8C8C;
		text-align: center;
}
.featureLabel, .outlierLabel {
		font-size: 12px;
		fill: #606060;
		font-weight: 300;
	}
button { 
	background-color: white;
	float: left;	
	border: 1px solid lightgrey;
    color: black;
    padding: 8px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
.label {
		font-family: 'Dosis', sans-serif;
}
#test {
	border-bottom-left-radius: 6px 6px;
	border-top-left-radius: 6px 6px;
	border-style: solid none solid solid;

}
#train {
	border-bottom-right-radius: 6px 6px;
	border-top-right-radius: 6px 6px;
	border-style: solid solid solid none;

}
button:focus {outline:0;}

.bar:hover {
	fill: red;
	opacity: 0.8;
}
.Oaxis {
	font-size:12px
}